<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DAL.Properties.Settings>
            <setting name="DAL_Intrag_PosicaoGerencialServiceService" serializeAs="String">
                <value>https://www.itaucustodia.com.br/PassivoWebServices/services/PosicaoGerencialService</value>
            </setting>
            <setting name="DAL_IntragCotista_CotistaServiceService" serializeAs="String">
                <value>https://www.itaucustodia.com.br/PassivoWebServices/services/CotistaService</value>
            </setting>
            <setting name="DAL_IntragDownload_DownloadArquivoServiceService"
                serializeAs="String">
                <value>https://www.itaucustodia.com.br/PassivoWebServices/services/DownloadArquivoService</value>
            </setting>
        </DAL.Properties.Settings>
    </applicationSettings>
</configuration>